html, body {
    top: 0px;
    min-height:100%;
    width: 100%;
    background-color: white;
    margin: 0px;
    padding: 0px;
}

h1 {
	font-family: 'Muli', sans-serif;
	font-size: 40px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
    text-align: center;
    color: orange;
}

h2, h3, a {
    font-family: 'Muli', sans-serif;
}

p {
    font-family: 'Rajdhani', sans-serif;
}

h2 {
    margin-top:0;
}

.image {
    display: inline;
    width: 400px;
    height: 250px;
    float: right;
    padding-left: 5px;
}

body.etusivu a.etusivu, body.lomake a.lomake, body.taulukko a.taulukko {
    background-color: white;
    color: orange;
    height: 26.4px;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-bottom-color: orange;
}

.redBar {
    top:0px;
    left:0px;
    width: 100%;
    height: 106px;
    background-color: #c00;
    position:relative;
    display: inline-block;
}

.mainContent {
    position: relative;
    display: inline-block;
    width: 960px;
    min-height: 100%;
    left: 50%;
    margin-left: -450px;
    padding-top: 10px;
}


.hamburgerIcon {
    top: 25px;
    left: 10px;
    width: 50px;
    height: 50px;
    position: absolute;
    display: none;
}

.contentCenter {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: relative;
    float: right;
    top:10px;
    width: 700px;
    border-left-style: dotted;
    border-left-color: orange;
    padding-left: 30px;
    padding-right: 20px;
    text-align:justify;
}

.contentLeft {
    float: left;
    display: block;
    position: relative;
    width: 200px;
    height: 500px;
    
}

.footer {
    position: relative;
    border-top-style: dotted;
    border-top-color: orange;
    bottom: 0;
    height: 300px;
    width: 100%;
    background-color: lightgray;
}

#topPage {
    padding: none;
}

.navigationBarLinks {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float:left;
    margin-right: 5px;
    background-color: orange;
    color: white;
    font-family: Muli;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
    text-decoration: none;
    width: 107.5px;
    text-align: center;
}

a.navigationBarLinks:hover {
    background-color: white;
    color: orange;
    height: 26.4px;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-bottom-color: green;
}

a.navigationBarLinks:active {
    background-color: white;
    color: #900;
    height: 26.4px;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-bottom-color: green;
}

.navigationBar {
    position: relative;
    left: 50%;
    margin-left: -450px;
    width: 900px;
}

.navBarList {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footerList {
    position: relative;
    list-style-type: none;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}

.footerLinkDiv{
    display: table;
    margin: 0 auto;
    padding: 0px;
}

.footerLink {
    display: block;
    border-bottom: dotted black 1px;
    text-decoration: none;
    color: #900;
}

.firstLink {
    border-top: dotted black 1px;
    border-bottom: dotted black 1px;
}

.sideBar {
    display: none;
}

.text {
    --width:60vw;
}

#sexWrapper {
    display: inline-block;
    border-width: 1px;
}

#sex {
    position: relative;
    left: 90px;
    bottom: 16px;
    
}

#carWrapper {
    display: inline-block;
}

#carText {
    position: relative;
    left: 34px;
}

#car {
    position: relative;
    left: 57px;
    bottom: 35px;
    margin-left: 35px;
}

#hiddenNavBar {
    display: none;
    padding-bottom: 10px;
}

input:invalid {
    background-color: orange;
    border-style: solid;
    border-width: 2px;
}




@media screen and (max-width: 912px) {
    body.etusivu a.etusivu, body.lomake a.lomake, body.taulukko a.taulukko {
        background-color: lightgray;
        color: #900;
        border-left-style: solid;
        border-left-width: 5px;
        border-left-color: orange;
        border-bottom-style: dashed;
        border-bottom-width: 1px;
        border-bottom-color: orange;
        height: 26.4px;
        
    }
    
    a.navigationBarLinks {
        display:block;
        float:none;
        width:100%;
        text-align:left;
        color: #900;
        background-color: white;
        border-bottom-style: dashed;
        border-bottom-width: 1px;
        border-bottom-color: orange;
        border-left-style: solid;
        border-left-width: 5px;
        border-left-color: orange;
        padding-left: 3px;
        margin-bottom: 3px;
        height: 26.4px;
        
    }
    
    .image {
        display: none;
    }

    div.mainContent {
        width: 100%;
        min-height: 800px;
        left: 450px;
    }
    
    a.navigationBarLinks:hover {
        background-color: lightgray;
        color: #900;
        border-bottom-style: dashed;
        border-bottom-width: 1px;
        border-bottom-color: orange;
        border-left-style: solid;
        border-left-width: 5px;
        border-left-color: green;
        height: 26.4px;
    }

    a.navigationBarLinks:active {
        background-color: orange;
        color: white;
        border-left-style: solid;
        border-left-width: 5px;
        border-left-color: green;
        border-bottom-style: dashed;
        border-bottom-width: 1px;
        border-bottom-color: orange;
        
    }
    
    .sideBar {
        display: inline;
        left: 0px;
        width: 200px;
    }
    
    .topBar {
        display: none;
    }
    
    div.contentLeft {
        position: absolute;
        top: 0px;
        left: 6px;
        float: none;
        padding-left: 4px;
    }
    
    
    div.contentCenter {
        float: none;
        left: 220px;
        width: 65%;
    }
    
    #hiddenNavBar {
        display: none;
    }
}

@media screen and (max-width: 640px) {
    h1 {
        font-size: 30px;
        left: 70px;
        position: absolute;
    }
    
    div.contentLeft {
        display: none;
    }
    
    .image {
        display: block;
        float: none;
        padding-bottom: 10px;
        margin: 0 auto;
        overflow: auto;
    }
    
    .mainContent {
        display: block;
    }
    
    div.contentCenter {
        border-left-style: none;
        left: 0px;
        margin: 0 auto;
        width: 100%;
        
    }
    
    div.navigationBar {
        visibility: collapse;
    }
    
    div.hamburgerIcon {
        display: block;
    }
    
}

@media screen and (max-width: 590px) {
    .footer {
        height: 400px;
    }
    
    .lastList {
        position: absolute;
        left: 50%;
        margin-left: -90px;
        bottom: 0px;
    }
}

@media screen and (max-width: 500px) {
    .image {
        display: none;
    }
    
}

@media screen and (max-width: 400px) {
    .footer {
        height: 650px;
    }
    
    .lastList {
        position: relative;
        left: 0px;
        margin-left: 0px;
    }
    
    .footerLinkDiv {
        width: 200px;
        margin: 0 auto;
    }
    
}